 <footer class="container-fluid bg-light">
    <div class="row mt-5">
        <section class="col">
            colonne 1
        </section>
        <section class="col">
            colonne 2
        </section>
        <section class="col">
            colonne 3
        </section>
    </div>
</footer>   