{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container my-5">

    <div class="row">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                 {{ app.user.userIdentifier }} est connecté (e).
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

       
        <button class="btn btn-lg btn-primary mt-3" type="submit">
            Me connecter
        </button>
        </form>
     
          
        
    </div>
</div>

{% endblock %}
