{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Inscription</h1>
                </div>

                <div class="card-body">
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                        
                        <fieldset class="mb-3">
                            <legend> Mon identié </legend>
                            <div class="form-group">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse Email'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                            </div>
                        </fieldset>
                        <fieldset class="mb-3" >
                            <legend> Mes coordonnées</legend>
                            <div class="form-group">
                                {{ form_row(registrationForm.address, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.zipcode, {'attr': {'class': 'form-control', 'placeholder': 'Code postal'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville'}}) }}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                        </div>
                        <div class="form-group form-check">
                            {{ form_row(registrationForm.RGODConsent, {'attr': {'class': 'form-check-input'}}) }}
                            <label class="form-check-label" for="{{ registrationForm.RGODConsent.vars.id }}">Accepter les termes</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 ">Inscription</button>
                    {{ form_end(registrationForm) }}
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
