<h1>Activer votre compte</h1>
<p>Bonjour {{user.firstname}},</p>
<p> Votre inscription sur le site e-commerce est a valider
en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('verif_user', {token: token}))}}
">{{ absolute_url(path('verif_user', {token: token}))}}</a></p>
<p> Ce lien expirera dans 3 heures</p>